*~
autom4te.cache/
bug-create-project
config.log
config.status
config.sub
config.guess
configure
Makefile
demo/env.sh
install-sh
src/Makefile
src/config.scm
pkgconfig/libbug.pc
bug-gsc/bug-gsi-config.h
config.h
