*~
autom4te.cache/
bug-create-project
bug-gsc/bug-gsi-config.h
bug-gsc/bug-gscpp
bug-gsc/bug-gsi
config.h.in
config.h
config.log
config.status
config.sub
config.guess
configure
bug-create-project.1
bug-gscpp.1
bug-gsi.1
demo/env.sh
install-sh
man/bug-create-project.1.bz2
man/bug-gscpp.1.bz2
man/bug-gsi.1.bz2
Makefile
pkgconfig/libbug.pc
src/config.scm
src/bug-language.scm
src/libbug#.scm
src/libbug-macros.scm
src/libbug.c
src/libbug.o
src/libbug.o1
src/libbug.o1.c
src/libbug.o1.o
src/libbug.so
src/Makefile
src/main.c
src/main.o
src/main.scm
