*~
autom4te.cache/
bug-create-project
bug-gsc/bug-gsi-config.h
config.h
config.log
config.status
config.sub
config.guess
configure
bug-create-project.1
bug-gscpp.1
bug-gsi.1
demo/env.sh
install-sh
Makefile
pkgconfig/libbug.pc
src/Makefile
src/config.scm
